<div class="navigation">
  <a class="button2" href="/about">About Me</a>           
  <a class="button2" href="/entries/new">New Post</a>                            
</div>

<form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="button" type="submit" value="Log-Out">
  </form>