<div class="navigation">

  <a class="button" href="/about">About Me</a>           
  <a class="button" href="/entries/new">New Post</a>                            
  <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="button" type="submit" value="Log-Out">
  </form>
  
  

</div>