<div>

 <ul>
    <li><a href="/about">About Me</a></li>             
    <li><a href="/entries/new">New Post</a></li>                             
    <li><form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log-Out">
  </form></li>
  
  </ul>

</div>