<div class="navigation">
  <a class="button2" href="/about">About Me</a>  
  <a class="button2" href="/login">Log-In</a> 
<!-- <form action="/users/new" method="get">
    <input type="submit" value="Sign-Up">
  </form> -->
</div>

