

<ul class="index">
<% @entries.each do |entry| %>
  <li>
    <p id="mainlist"><a class= "button3" href="/entries/<%= entry.id %>"><%= entry.title %>  || <%= pretty_date(entry.created_at)%> </a><p>
  </li>
<% end %>
</ul> 