<!DOCTYPE html>
<html lang-'en'>
<head>
  <meta charset="UTF-8">
  <title>Wells & Robots</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

  <script src="/javascripts/scripts.js"></script>
</head>
<body>


<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Me</a></li>             
    <li><a href="/entries/new">New Post</a></li>                   
   >
  </ul>

  <% if current_user %>
    <%= erb :'_nav_for_user'%>
  <% else %>
    <%= erb :'_nav_for_non_user'%>
  <% end %>

  <%= yield %>
</body>
</html>