<!DOCTYPE html>
<html lang-'en'>
<head>
  <meta charset="UTF-8">
  <title>Wells & Robots</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

  <script src="/javascripts/scripts.js"></script>
</head>
<body>
  <div class="masthead">
    <h1><a class="head"href="/">Wells and Robot</a></h1>
    <h4>A Journey from [-1...0]</h4>
  </div>


  <% if current_user %>
    <%= erb :'_nav_for_user'%>
    <% else %>
    <%= erb :'_nav_for_non_user'%>
  <% end %>

  <%= yield %>

</body>
</html>