<h3>Edit Entry</h3>

<form action="/entries/<%= @entry.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="title" style="width: 100px" value="<%= @entry.title %>">
  <input type="text" name="body" class="blogbody" value="<%= @entry.body %>">
  <input class="button" type="submit" value="Edit Post"/>