<h3>New Entry</h3>

<form action="/entries" method="post">
  <input type="text" name="title" style="width: 100px" placeholder="Title">
  <input type="text" name="body" class="blogbody" placeholder="">
  <input type="submit" value="Create Post" />
</form>

  