<h3>New Entry</h3>

<form action="/entries" method="post">
  <input type="text" name="title" style="width: 200px" placeholder="Title">
  <textarea name="body" class="blogbody" placeholder="Blog here!"></textarea>
  <input class="button" type="submit" value="Create Post" />
</form>

  