body {

background-color: #F8F8FF;
font-family: Didot;


}

.masthead{
   text-decoration: none;
   text-align: center;
   font-size: 24px;
}

.navigation{
   width: 200px ;
   margin-left: auto ;
   margin-right: auto ;
   margin-top: 50px;
 }

.index {
   font-size: 24px;

}


}s

.blogbody{

  width: 300px;
  height: 250px; 
}

.head{
     color:#3d59ab;
     font-size: 2em;
     padding: 10px -10px 10px 10px;
   
}

.button { 
   border-top: 0px solid #f8f8ff;
   background: #f8f8ff;
   padding: 4px 9px;
   font-size: 1em;
   font-family: Didot;
   text-decoration: none;
   vertical-align: middle;

   }
.button:hover {
   border-top-color: #3d59ab;
   background: #3d59ab;
   color: #f8f8ff;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

   .button2 { 
   border-top: 0px solid #f8f8ff;
   background: #f8f8ff;
   padding: 4px 9px;
   font-size: 1.1em;
   font-family: Didot;
   text-decoration: none;
   vertical-align: middle;

   }

   ul {
      list-style-type: none;
   }

   a {

      text-decoration: none;
      font-size: 32px;
   }